<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechBook</title>
    <!-- Link to CSS -->
    
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
    <!-- Box icons -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <!-- Header -->
    <header>
        <!-- NavBar -->
        <div class="nav container">
            <!-- Logo -->
        <a href="#" class="logo">Tech<span>Book</span></a>
        <!-- Login Btn -->
        <a href="#" class="login">Login</a>
        </div>
    </header>

    
        <!-- Home -->
        <section class="home" id="home">
            <div class="home-text container">
                <h2 class="home-title">The TechBook Blogs</h2>
                <span class="home-subtitle">Unveiling the World of Innovation and Progress</span>
                <!-- <img src="https://source.unsplash.com/1600x600/?Data+Science" alt="" class="header-image"> -->
            </div>

        </section>
        <!-- Poster filter -->
        <div class="post-filter container">
            <span class="filter-item active-filter" data-filter="all">All</span>
            <span class="filter-item" data-filter="technology">Technology</span>
            <span class="filter-item" data-filter="webdevelopment">Web Development</span>
            <span class="filter-item" data-filter="cybersecurity">Cyber Security</span>
        </div>
       
        <!-- Posts -->
        <section class="post container">
            <!-- Post Box 1 -->
            <div class="post-box technology">
                <img src="https://source.unsplash.com/1600x600/?Crypto+mining" alt="" class="post-img">
                <h2 class="category">Technology</h2>
                <a href="post-page.html" class="post-title">
                    How to Create Best blog website using HTML & CSS
                </a>
                <span class="post-date">16 April</span>
                <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, vel.</p>
                <!-- Profile -->
                <div class="profile">
                    <img src="https://source.unsplash.com/1600x600/?Marques" alt="" class="profile-img">
                    <span class="profile-name">Marques Brown</span>
                </div>
            </div>


             <!-- Post Box 2 -->
              <div class="post-box webdevelopment">
                <img src="https://source.unsplash.com/1600x600/?Blockchain" alt="" class="post-img">
                <h2 class="category">Web Development</h2>
                <a href="post-page.html" class="post-title">
                    How to Create Best blog website using HTML & CSS
                </a>
                <span class="post-date">16 April</span>
                <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, vel.</p>
                <!-- Profile -->
                <div class="profile">
                    <img src="https://source.unsplash.com/1600x600/?Marques" alt="" class="profile-img">
                    <span class="profile-name">Marques Brown</span>
                </div> 
              </div>

               <!-- Post Box 3 -->
               <div class="post-box cybersecurity">
                <img src="https://source.unsplash.com/1600x600/?Programming" alt="" class="post-img">
                <h2 class="category">Cyber Security</h2>
                <a href="post-page.html" class="post-title">
                    How to Create Best blog website using HTML & CSS
                </a>
                <span class="post-date">16 April</span>
                <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, vel.</p>
                <!-- Profile -->
                <div class="profile">
                    <img src="https://source.unsplash.com/1600x600/?Marques" alt="" class="profile-img">
                    <span class="profile-name">Marques Brown</span>
                </div> 
              </div>

            <!-- Post Box 4 -->
            <div class="post-box technology">
                <img src="https://source.unsplash.com/1600x600/?Neural+Networks" alt="" class="post-img">
                <h2 class="category">Technology</h2>
                <a href="post-page.html" class="post-title">
                    How to Create Best blog website using HTML & CSS
                </a>
                <span class="post-date">16 April</span>
                <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, vel.</p>
                <!-- Profile -->
                <div class="profile">
                    <img src="https://source.unsplash.com/1600x600/?Marques" alt="" class="profile-img">
                    <span class="profile-name">Marques Brown</span>
                </div>
            </div>
             <!-- Post Box 5 -->
              <div class="post-box webdevelopment">
                <img src="https://source.unsplash.com/1600x600/?Data" alt="" class="post-img">
                <h2 class="category">Web Development</h2>
                <a href="post-page.html" class="post-title">
                    How to Create Best blog website using HTML & CSS
                </a>
                <span class="post-date">16 April</span>
                <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, vel.</p>
                <!-- Profile -->
                <div class="profile">
                    <img src="https://source.unsplash.com/1600x600/?Marques" alt="" class="profile-img">
                    <span class="profile-name">Marques Brown</span>
                </div> 
              </div>

               <!-- Post Box 6 -->
               <div class="post-box cybersecurity">
                <img src="https://source.unsplash.com/1600x600/?Space" alt="" class="post-img">
                <h2 class="category">Cyber Security</h2>
                <a href="post-page.html" class="post-title">
                    How to Create Best blog website using HTML & CSS
                </a>
                <span class="post-date">16 April</span>
                <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, vel.</p>
                <!-- Profile -->
                <div class="profile">
                    <img src="https://source.unsplash.com/1600x600/?Marques" alt="" class="profile-img">
                    <span class="profile-name">Marques Brown</span>
                </div> 
              </div>     

              
            <!-- Post Box 7 -->
            <div class="post-box technology">
                <img src="https://source.unsplash.com/1600x600/?Cyber+Security" alt="" class="post-img">
                <h2 class="category">Technology</h2>
                <a href="post-page.html" class="post-title">
                    How to Create Best blog website using HTML & CSS
                </a>
                <span class="post-date">16 April</span>
                <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, vel.</p>
                <!-- Profile -->
                <div class="profile">
                    <img src="https://source.unsplash.com/1600x600/?Marques" alt="" class="profile-img">
                    <span class="profile-name">Marques Brown</span>
                </div>
            </div>
             <!-- Post Box 8 -->
              <div class="post-box webdevelopment">
                <img src="https://source.unsplash.com/1600x600/?Artificial+intelligence" alt="" class="post-img">
                <h2 class="category">Web Development</h2>
                <a href="post-page.html" class="post-title">
                    How to Create Best blog website using HTML & CSS
                </a>
                <span class="post-date">16 April</span>
                <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, vel.</p>
                <!-- Profile -->
                <div class="profile">
                    <img src="https://source.unsplash.com/1600x600/?Artificial+intelligence" alt="" class="profile-img">
                    <span class="profile-name">Marques Brown</span>
                </div> 
              </div>

               <!-- Post Box 9 -->
               <div class="post-box cybersecurity">
                <img src="https://source.unsplash.com/1600x600/?hacking" alt="" class="post-img">
                <h2 class="category">Cyber Security</h2>
                <a href="post-page.html" class="post-title">
                    How to Create Best blog website using HTML & CSS
                </a>
                <span class="post-date">16 April</span>
                <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, vel.</p>
                <!-- Profile -->
                <div class="profile">
                    <img src="https://source.unsplash.com/1600x600/?Marques" alt="" class="profile-img">
                    <span class="profile-name">Marques Brown</span>
                </div> 
              </div>
        </section>

           <!-- footer -->
           <div class="footer container">
            <p>&#169; 2023 TechBook All Right Reserved</p>
            <div class="social">
                <a herf="#"><i class='bx bxl-facebook'></i></a>
                <a herf="#"><i class='bx bxl-instagram'></i></a>
                <a herf="#"><i class='bx bxl-twitter'></i></a>
                <a herf="#"><i class='bx bxl-linkedin'></i></a>
            </div>
           </div>






        <!-- JQuery -->
        <script
            src ="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
        <!-- Java script -->
        <script src="{%static 'js/main.js'%}"></script>
</body>
</html>