<div class="post-box ai">
    <img src="post-1.jpg" alt="" class="post-img">
    <h2 class="category">AI</h2>
    <a href="post-page.html" class="post-title">
        How to Create Best blog website using HTML & CSS
    </a>
    <span class="post-date">16 April</span>
    <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, vel.</p>
</div>


<div class="post-box mech">
    <img src="https://energyeducation.ca/encyclopedia/Internal_combustion_engine/wiki/images/thumb/3/3d/Natgasturb.png/500px-Natgasturb.png" alt="" class="post-img">
    <!-- <h2 class="category">AI</h2> -->
    <a href="https://energyeducation.ca/encyclopedia/Internal_combustion_engine/" class="post-title">
        Internal combustion engine
    </a>
    <span class="post-date">16 April</span>
    <p class="post-description">Internal combustion engines (ICE) are the most common form of heat engines, as they are used in vehicles, boats, ships, airplanes, and trains. They are named as such because the fuel is ignited in order to do work inside the engine.[1] The same fuel and air mixture is then emitted as exhaust. This can be done using a piston (called a reciprocating engine), or with a turbine.</p>
</div>


    <!-- Profile -->
    <!-- <div class="profile">
        <img src="https://source.unsplash.com/1600x600/?Marques" alt="" class="profile-img">
        <span class="profile-name">Marques Brown</span>
    </div> -->