{% extends 'base.html' %}

{% block title %}News{% endblock title %}
{% block appsname %}News{% endblock appsname %}
{% block b__n %}/blogs{% endblock b__n %}
{% block b_n %}Blogs{% endblock b_n %}

{% block body %}
        <section class="home" id="home">
            <div class="home-text container">
                <h2 class="home-title">TechBook {% block appname %}News{% endblock appname %}</h2>
                <span class="home-subtitle">Unveiling the World of Innovation and Progress</span>
            </div>
        </section>
         <!-- Poster filter -->
         <div class="post-filter container">
            <span class="filter-item active-filter" data-filter="all">All</span>
            <span class="filter-item" data-filter="india-technology">Technology</span>
            <span class="filter-item" data-filter="artificial-intelligence">AI</span>
            <span class="filter-item" data-filter="blockchain">Blockchain</span>
            <span class="filter-item" data-filter="data-security">Cyber Security</span>
            <span class="filter-item" data-filter="defence-technology">Defence</span>
            <span class="filter-item" data-filter="space-industry">Space</span>
            <!-- search bar -->
            <div class="search-container">
                <form method='get' action='s/search'>
                    <input name='query' id='query' type="text" placeholder="Search">
                    <button type="submit">Search</button>
                </form>
            </div>                            
        </div>

           <!-- Posts -->
        <section class="post container">
            <!-- Post Box 1 -->
            {% for news in allNews  %}
            <div class="post-box {{news.query}}">
                <img src="{{news.imgurl}}" alt="" class="post-img">
                <a href="{{news.newsurl}}" target='_blank' class="post-title">
                    {{news.title}}
                </a>
                <span class="post-date">{{news.date}}</span>
                <p class="post-description">{{news.description}}</p>
            </div>
            {% endfor %}
            
        </section>

           <!-- footer -->
           <div class="footer container">
            <p>&#169; TechBook All Right Reserved</p>
            <div class="social">
                <a herf="#"><i class='bx bxl-facebook'></i></a>
                <a herf="#"><i class='bx bxl-instagram'></i></a>
                <a herf="#"><i class='bx bxl-twitter'></i></a>
                <a herf="#"><i class='bx bxl-linkedin'></i></a>
            </div>
           </div>
           {% endblock body %}



