{% extends 'base.html' %}

{% block title %}News{% endblock title %}
{% block appname %}News{% endblock appname %}

{% block body %}
        </section>
        <!-- Poster filter -->
        <div class="post-filter container">
            <span class="filter-item active-filter" data-filter="all">All</span>
            <span class="filter-item" data-filter="technology">Technology</span>
            <span class="filter-item" data-filter="webdevelopment">Web Development</span>
            <span class="filter-item" data-filter="cybersecurity">Cyber Security</span>
        </div>
       
        <!-- Posts -->
        <section class="post container">
            <!-- Post Box 1 -->
           
            <div class="post-box cybersecurity">
                <img src="https://source.unsplash.com/1600x600/?Programming" alt="" class="post-img">
                <h2 class="category">Cyber Security</h2>
                <a href="post-page.html" class="post-title">
                    How to Create Best blog website using HTML & CSS
                </a>
                <span class="post-date">16 April</span>
                <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, vel.</p>
                <!-- Profile -->
                <div class="profile">
                    <img src="https://source.unsplash.com/1600x600/?Marques" alt="" class="profile-img">
                    <span class="profile-name">Marques Brown</span>
                </div>
            </div>

             <!-- Post Box 2 -->
              <div class="post-box webdevelopment">
                <img src="https://source.unsplash.com/1600x600/?Blockchain" alt="" class="post-img">
                <h2 class="category">Web Development</h2>
                <a href="post-page.html" class="post-title">
                    How to Create Best blog website using HTML & CSS
                </a>
                <span class="post-date">16 April</span>
                <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, vel.</p>
                <!-- Profile -->
                <div class="profile">
                    <img src="https://source.unsplash.com/1600x600/?Marques" alt="" class="profile-img">
                    <span class="profile-name">Marques Brown</span>
                </div> 
              </div>

               <!-- Post Box 3 -->
               <div class="post-box cybersecurity">
                <img src="https://source.unsplash.com/1600x600/?Programming" alt="" class="post-img">
                <h2 class="category">Cyber Security</h2>
                <a href="post-page.html" class="post-title">
                    How to Create Best blog website using HTML & CSS
                </a>
                <span class="post-date">16 April</span>
                <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, vel.</p>
                <!-- Profile -->
                <div class="profile">
                    <img src="https://source.unsplash.com/1600x600/?Marques" alt="" class="profile-img">
                    <span class="profile-name">Marques Brown</span>
                </div> 
              </div>

            <!-- Post Box 4 -->
            <div class="post-box technology">
                <img src="https://source.unsplash.com/1600x600/?Neural+Networks" alt="" class="post-img">
                <h2 class="category">Technology</h2>
                <a href="post-page.html" class="post-title">
                    How to Create Best blog website using HTML & CSS
                </a>
                <span class="post-date">16 April</span>
                <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, vel.</p>
                <!-- Profile -->
                <div class="profile">
                    <img src="https://source.unsplash.com/1600x600/?Marques" alt="" class="profile-img">
                    <span class="profile-name">Marques Brown</span>
                </div>
            </div>
             <!-- Post Box 5 -->
              <div class="post-box webdevelopment">
                <img src="https://source.unsplash.com/1600x600/?Data" alt="" class="post-img">
                <h2 class="category">Web Development</h2>
                <a href="post-page.html" class="post-title">
                    How to Create Best blog website using HTML & CSS
                </a>
                <span class="post-date">16 April</span>
                <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, vel.</p>
                <!-- Profile -->
                <div class="profile">
                    <img src="https://source.unsplash.com/1600x600/?Marques" alt="" class="profile-img">
                    <span class="profile-name">Marques Brown</span>
                </div> 
              </div>

               <!-- Post Box 6 -->
               <div class="post-box cybersecurity">
                <img src="https://source.unsplash.com/1600x600/?Space" alt="" class="post-img">
                <h2 class="category">Cyber Security</h2>
                <a href="post-page.html" class="post-title">
                    How to Create Best blog website using HTML & CSS
                </a>
                <span class="post-date">16 April</span>
                <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, vel.</p>
                <!-- Profile -->
                <div class="profile">
                    <img src="https://source.unsplash.com/1600x600/?Marques" alt="" class="profile-img">
                    <span class="profile-name">Marques Brown</span>
                </div> 
              </div>     

              
            <!-- Post Box 7 -->
            <div class="post-box technology">
                <img src="https://source.unsplash.com/1600x600/?Cyber+Security" alt="" class="post-img">
                <h2 class="category">Technology</h2>
                <a href="post-page.html" class="post-title">
                    How to Create Best blog website using HTML & CSS
                </a>
                <span class="post-date">16 April</span>
                <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, vel.</p>
                <!-- Profile -->
                <div class="profile">
                    <img src="https://source.unsplash.com/1600x600/?Marques" alt="" class="profile-img">
                    <span class="profile-name">Marques Brown</span>
                </div>
            </div>
             <!-- Post Box 8 -->
              <div class="post-box webdevelopment">
                <img src="https://source.unsplash.com/1600x600/?Artificial+intelligence" alt="" class="post-img">
                <h2 class="category">Web Development</h2>
                <a href="post-page.html" class="post-title">
                    How to Create Best blog website using HTML & CSS
                </a>
                <span class="post-date">16 April</span>
                <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, vel.</p>
                <!-- Profile -->
                <div class="profile">
                    <img src="https://source.unsplash.com/1600x600/?Artificial+intelligence" alt="" class="profile-img">
                    <span class="profile-name">Marques Brown</span>
                </div> 
              </div>

               <!-- Post Box 9 -->
               <div class="post-box cybersecurity">
                <img src="https://source.unsplash.com/1600x600/?hacking" alt="" class="post-img">
                <h2 class="category">Cyber Security</h2>
                <a href="post-page.html" class="post-title">
                    How to Create Best blog website using HTML & CSS
                </a>
                <span class="post-date">16 April</span>
                <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, vel.</p>
                <!-- Profile -->
                <div class="profile">
                    <img src="https://source.unsplash.com/1600x600/?Marques" alt="" class="profile-img">
                    <span class="profile-name">Marques Brown</span>
                </div> 
              </div>
        </section>

           <!-- footer -->
           <div class="footer container">
            <p>&#169; 2023 TechBook All Right Reserved</p>
            <div class="social">
                <a herf="#"><i class='bx bxl-facebook'></i></a>
                <a herf="#"><i class='bx bxl-instagram'></i></a>
                <a herf="#"><i class='bx bxl-twitter'></i></a>
                <a herf="#"><i class='bx bxl-linkedin'></i></a>
            </div>
           </div>
           {% endblock body %}



