{% extends 'base.html' %}

{% block title %}News{% endblock title %}
{% block appname %}News{% endblock appname %}

{% block body %}
         <!-- Poster filter -->
         <div class="post-filter container">
            <span class="filter-item active-filter" data-filter="all">All</span>
            <span class="filter-item" data-filter="technology">Technology</span>
            <span class="filter-item" data-filter="artificial-intelligence">AI</span>
            <span class="filter-item" data-filter="blockchain">Blockchain</span>
            <span class="filter-item" data-filter="web-development">Web Development</span>
            <span class="filter-item" data-filter="cybersecurity">Cyber Security</span>
            <!-- search bar -->
            <div class="search-container">
                <input type="text" placeholder="Search">
                <button type="submit">Search</button>
            </div>                            
        </div>

           <!-- Posts -->
        <section class="post container">
            <!-- Post Box 1 -->
            {% for news in allNews  %}
            <div class="post-box {{news.query}}">
                <img src="{{news.imgurl}}" alt="" class="post-img">
                <a href="/news/{{news.slug}}" class="post-title">
                    {{news.title}}
                </a>
                <span class="post-date">{{news.date}}</span>
                <p class="post-description">{{news.description}}</p>
            </div>
            {% endfor %}
            
        </section>

           <!-- footer -->
           <div class="footer container">
            <p>&#169; TechBook All Right Reserved</p>
            <div class="social">
                <a herf="#"><i class='bx bxl-facebook'></i></a>
                <a herf="#"><i class='bx bxl-instagram'></i></a>
                <a herf="#"><i class='bx bxl-twitter'></i></a>
                <a herf="#"><i class='bx bxl-linkedin'></i></a>
            </div>
           </div>
           {% endblock body %}



