<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Page</title>
    <!-- Link to CSS -->

    {%load static%}
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
    <!-- Box icons -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <!-- Header -->
    <header>
        <!-- NavBar -->
        <div class="nav container">
        <!-- Logo -->
        <a href="/" class="logo">Tech<span>Book</span></a>
        <!-- Login Btn -->
        <a href="#" class="login">Login</a>
        </div>

    </header>
    <!-- Post Content -->
    <section class="post-header">
        <div class="header-content post-container">
            <!-- Back to Home -->
            <a href="/" class="back-home">Back To Home</a>
            <!-- titlel -->
            <h1 class="header-title">{{post.title}}</h1>
            <!-- Post Image -->
            <img src="{{post.imgurl}}" alt="" class="header-image">
        </div>
    </section>
    <br><br><br><br><br><br><br><br>
        <!-- Posts -->
        <section class="post-content post-container">
            <h2 class="sub-heading">Safety in Web3</h2>
            <p class="post-text">
                What other reasons cause Web2 developers to be wary of the space? On the periphery, developers see other developers being negatively impacted by safety hazards. From this, they conclude that Web3 is an immature environment full of risk. There are indeed many security risks, and many Web3 developers are subject to building on inadequate systems that can be easily exploited. </p>
            <p class="post-text">Some of the most momentous building blocks in the crypto industry, such as the Ethereum Virtual Machine (EVM), are still maturing. New iterations will continue evolving, but many developers need more security education to innovate safely on these platforms.</p>

            <p class="post-text">This is where we need to educate developers to prevent them from stepping into security traps that prevent composition and growth. How do we navigate getting people into a space where they need to be programming in a safer way? This is the challenge that the industry is up against. Improving tooling and debugging experiences is essential if developers are to cross the chasm from Web2 to Web3, but we also need safer execution engines and more education.</p>
            <p class="post-text">Web3 envisions a world where millions of developers can build decentralized applications for billions of users to interact with every day. For this to become a reality, the industry needs to entice more developers into the Web3 space by simplifying the onboarding process so that they feel it is a worthwhile opportunity, both economically and philosophically. The next generation of developers may be Web3 natives, but investing in the established Web2 developers who can lay the foundations of a distributed web with the skills in their toolkits cannot be ignored. <a href="{{post.newsurl}}"><br> Read more.....</a></p>
            
            <!-- <h2 class="sub-heading">Safety in Web3</h2> -->
        </section>

        <!-- Share -->
        <div class="share post-container">
            <span class="share-title">Share this article</span>
            <div class="social">
                <a herf="#"><i class='bx bxl-facebook'></i></a>
                <a herf="#"><i class='bx bxl-instagram'></i></a>
                <a herf="#"><i class='bx bxl-twitter'></i></a>
                <a herf="#"><i class='bx bxl-linkedin'></i></a>
            </div>
        </div>
           <!-- footer -->
           <div class="footer container">
            <p>&#169;2023 TechBook All Right Reserved</p>
            <div class="social">
                <a herf="#"><i class='bx bxl-facebook'></i></a>
                <a herf="#"><i class='bx bxl-instagram'></i></a>
                <a herf="#"><i class='bx bxl-twitter'></i></a>
                <a herf="#"><i class='bx bxl-linkedin'></i></a>
            </div>
           </div>




        <!-- JQuery -->
        <script
            src ="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
        <!-- Java script -->
        <script src="{% static 'js/main.js' %}"></script>
</body>
</html>